{% extends 'main.html' %}
{% block content %}
<style>
    .home-container{
        display:grid;
        grid-template-columns: 1.25fr 0.25fr 2.5fr 0.25fr 1.5fr;
    }
</style>
<div class="container my-5">
    <div class="home-container">
        <div class="topic_header"  >
            <h3>Topics</h3>
            <ul class="topics_list my-3">
            <li>
                <a href="{% url 'home' %}" class="active">All </a><span> &emsp;{{ topic.count }}</span>
            </li>
            {% for topic in topics %}
                {% if user.is_authenticated %}
                    <li>  
                        <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }} </a> 

                        <span>&emsp;{{ topic.room_set.all.count }} rooms</span>
                    </li>
                {% else %}  
                    <a href="{% url 'login' %} ">{{ topic.name }}</a>
                    <br>
                {% endif %}
            {% endfor %}        
            </ul>
        </div>
        <div>  </div>
        <div>
            <br>
            <h5>{{room_count}} rooms available </h5>
            <br>
            <a href = "{% url 'create-room' %}" >
                <button class ="button is-dark is outlined is fullwidth">Create Room

            </a>
                </button>
            <hr>
            <div>
                {% for room in rooms %}
                <div class="card my-4">
                    {% if request.user == room.host %}
                    <a href = "{% url 'update-room' room.id %}">Edit</a>
                    &ensp;<a href = "{% url 'delete-room' room.id %}">Delete</a>
                    {% endif %}
                    <br>

                    {% if user.is_authenticated %}
        
                    hosted by @{{ room.host.username }}<br>
                    created on {{ room.created }}<br>
                    <br>
                     <h5> {{ room.id }} -- <a href= "{% url 'room' room.id %}">{{ room.name }}</a> </h5>
                     <small> {{ room.topic.name }}</small>
                     <hr>
                    {% else %}
                    <h5> {{ room.id }} -- <a href= "{% url 'room' room.id %}">{{ room.name }}</a> </h5>
                    <small> {{ room.topic.name }}</small>
                    <hr>
                    {% endif %}
                    &emsp; {{room.participants.all.count}} Joined
                </div>
                {% endfor %}
            </div>
        </div>
        <div> </div>
        <div>
            <div class ="container">
            <h4>Help</h4>
            <a href = http://localhost:8000/room/4/ >Ask for help here</a>
            
            
        </div>
            <div class="container my-5">
            <h4>New Posts</h4>
            <hr>
            {% if user.is_authenticated %}
            {% for message in room_messages %}

            <div>
                <small><a href ="{% url 'user-profile' message.user.id %}"> @{{ message.user }} </a> {{ message.created|timesince }}</small><br>
                <small> replied to {{ message.room }}</a></small>
                <p>{{ message }}</p>
                <hr>
                {% if request.user == message.user %} 
                <a href = "{% url 'delete-message' message.id %}"> Delete</a>
                {% endif %}
            </div>
            {% endfor %}
            {% else %} 
            <P> please log in to see recent activity by registered users</P>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock content %} 
