{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 0.25fr 2.5fr 0.25fr 2fr;
    }
    

</style>
<div class="container my-5">
    <div class="home-container">
        <div class="topic_header"  >
            <h3>Topics</h3>
            <ul class="topics_list my-3">
            <li>
                <a href="{% url 'home' %}" class="active">All </a><span> &emsp;{{ topics.count }} topics</span>
            </li>
            <hr>
            <br>
            {% for topic in topics %}
                {% if user.is_authenticated %}
                    <li>  
                        <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }} </a> 
                        <span>&emsp;{{ topic.room_set.all.count }} rooms</span>
                    </li>
                    <br>

                {% else %}  
                    <a href="{% url 'login' %} ">{{ topic.name }}</a>
                    <br>
                    <hr>
                {% endif %}
            {% endfor %}        
            </ul>
        </div>
        <div>  </div>
        <div>
            <br>
            <h5>{{room_count}} rooms available </h5>
            <br>
            <hr>
            <div>
                {% for room in rooms %}
                <div class="card my-4">
                    <div class="container">
                    {% if request.user == room.host %}
                    <a href = "{% url 'update-room' room.id %}">Edit room</a>
                    &ensp;<a href = "{% url 'delete-room' room.id %}">Delete room</a>
                    {% endif %}
                    <br>

                    {% if user.is_authenticated %}
        
                    <b>hosted by</b> @{{ room.host.username }}&emsp;
                    <b>created on</b> {{ room.created|timesince }} ago<br>
                    <br>
                     <h5> {{ room.id }} -- <a href= "{% url 'room' room.id %}">{{ room.name }}</a> </h5>
                     <small> {{ room.topic.name }}</small>
                     <hr>
                    {% else %}
                    <h5> {{ room.id }} -- <a href= "{% url 'room' room.id %}">{{ room.name }}</a> </h5>
                    <small> {{ room.topic.name }}</small>
                    <hr>
                    {% endif %}
                    &emsp; {{room.participants.all.count}} Joined
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div> </div>
        <div>
            <div class ="container">
            <h4>Help</h4>
           

            <video width ='320' controls>
                <source src ="{% static 'images/Boomers - Google Chrome 2022-03-25 06-24-30.mp4' %}" type='video/mp4'> </source>
                Video
            </video>
            
            <a href = http://localhost:8000/room/4/ >Ask for help here</a>
        </div>
            <div class="container my-5">
            <h4>New Posts</h4>
            <hr>
            {% if request.user.is_authenticated %}
            {% for message in room_messages %}

            <div>
                <hr>
                <small><a href ="{% url 'user-profile' message.user.id %}"> @{{ message.user }} </a> {{ message.created|timesince }}</small><br>
                <small> replied to <a href="{% url 'room' message.room.id %}"> {{ message.room }}</a></small>
               <p>{{ message }} </p> 
                {% if request.user == message.user %} 
                
                <a href = "{% url 'delete-message' message.id %}"> Delete</a>
        
    
                {% endif %}
                
                {% endfor %}
            </div>
            {% else %} 
            <P> please log in to see recent activity by registered users</P>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock content %} 
