{% extends 'main.html' %} 
{% block content %} 

{% if page == 'login' %}

 <div>
    <form method="POST" action = "">
        {% csrf_token %}
        <a href = '/accounts/login'>sing in with google</a>
        <!-- <label>Username:</label>
        <input type="text" name ="username" placeholer = "Enter Username" />

        <label> Password:</label>
        <input type = "password" name="password" placeholder="Enter Password"/>

        <input type ="submit" value="Login" /> -->

    </form>

    <p> Have you sign up yet? Sing up here ?</p>
    
    <br>
    <a href ="{% url 'register' %}"> Sign up</a>
 </div>

{% else %}
<div>
    <form method="POST" action = "">
        {% csrf_token %}
        {{form.as_p}}
        <input type ="submit" value="Register" />
    </form>
    <p>Already sign up? You can log in here</p>
    <a href = "{% url 'login' %}">Login</a> 
 



    
 </div>
{% endif %}
 {% endblock content %}