{% extends 'main.html' %}
{% block content %}
<style>  
  .home-container{
        display:grid;
        grid-template-columns:  1fr 8fr 1fr;
    } 
</style>

<div class="home-container">
  {% for profile in profiles %}
  <div></div>
  <div>
    <div class="card mt-3">
    
      <figure class="image is-48x48">
        <img src =Boomers-1\app\static\images\admin.jpg alt ="placeholder image">
      </figure>
    
      
      <a href="{% url 'profile' profile.id %}">
      {{profile.id}}{{profile.user.username}}
    </a>
    

</div>
  </div>
<div></div>
{% endfor %}
</div>
{% endblock content %} 