{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .room-container{
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr 1.5fr 0.5fr;
    }
</style>
<div class = "room-container my-5">
    <div></div>
    <div>
        <h3>{{room.name}}</h3>
        <p> {{room.description}}</p>
        <div class ="comment-wapper my-5">    
            <h4>Posts</h4>
            <hr>
            {% for message in room_messages %}
                <div>
                    {% if request.user == message.user %}
                    <a href="{% url 'delete-message' message.id %}">Delete</a><br>
                    {% endif %}

                    <small><a href= "{% url 'user-profile' message.user.id %}">@{{ message.user }}</a>  &emsp;{{ message.created|timesince }} ago </small>
                    <p> {{ message.body }} </p>
                    <hr>
                </div>
            {% endfor %}
        </div>
            {% if request.user.is_authenticated %}
            <div class="comment-form">
            <form method ="POST" actions="">
                {% csrf_token %} 
                <input type="text" name="body" placeholder="Type your post here" />
            </form>

        </div>
        {% endif %}
    </div>
    <div></div>

    <div>
        <div class ="container">
        <h4>Host</h4>
        {{room.host}}
    </div>
    <div class="container my-5">
        <h4>Participants  </h4>
        &emsp;{{participants.count}} joined
        <hr>
        {% for user in participants %} 
        <div>
            <div class="card my-3">
                <a href = "{% url 'user-profile' user.id %}" class="participant">
                
            
            <p>@{{ user.username }}</p>
        </div>
    </div>

</a>
        {% endfor %}
    </div>
</div>
    
    <div></div>

</div>

{% endblock content %}